{% assign posts = site.posts | where_exp: "post", "post.categories contains include.category" | sort: "date" | reverse %}

<div class="video-posts-grid">
  {% for post in posts %}
    <div class="video-post-card">
        <a href="{{ post.url | relative_url }}">
          {% if post.coverImage %}
            <img src="{{ post.coverImage | relative_url}}" alt="{{ post.title | escape }}" class="video-thumbnail">
          {% endif %}
          <h3>{{ post.title | escape }}</h3>
          <p class="post-date">{{ post.date | date: "%d.%m.%Y" }}</p>
        </a>
    </div>
  {% endfor %}
</div> 