{% assign pages = site.pages | where_exp: "page", "page.tags contains include.tag" | sort: "date" | reverse %}
{% if include.limit %}
  {% assign pages = pages | slice: 0, include.limit %}
{% endif %}

<div class="video-pages-grid">
  {% for page in pages %}
    <div class="video-page-card">
        <a href="{{ page.url | relative_url }}">
          {% if page.coverImage %}
            <img src="{{ page.coverImage | relative_url}}" alt="{{ page.title | escape }}" class="video-thumbnail">
          {% endif %}
          <h3>{{ page.title | escape }}</h3>
          <p class="page-date">{{ page.date | date: "%d.%m.%Y" }}</p>
        </a>
    </div>
  {% endfor %}
</div> 